
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.header {
  font-size: 16px;
  margin: 40px 20px 0px 20px;
  line-height: 45px;
  height: 100%;
  vertical-align: middle; 
}

.header > * {
  display: inline-block;
}

.navbar {
  width: 70%;
  color: #025157;
  font-weight: 500;   
}

.menu-item {
  margin: 0px 25px;
  color: #025157;

}

/* Quita los puntos a la lista*/
li {
  display: inline;
}

 /* Alinear verticalmente atributo flex*/
 ul{
  display: flex;
}

.logo {
  vertical-align: middle;
}

.actions {
  width: 15%;
  font-size: 14px;
  font-weight: 600;
  margin: 10px;
}

.actions a {
  color: #67b54b;
  margin: 12px 14px;
}


 .actions button {
    background-color: #67b54b;
    padding: 12px 14px;
    border-radius: 5px;
    border: none;
    color: #fff;
  }


h1 {
    color: #FF1493;
    font-size: 60px;
    text-align: center;
    font-weight: 400;
    }
  
  h4 {
    color: #46484c; 
    text-align: center; 
  }

  p {
    text-align: center; 
  }
  
  button{
    background-color: #025157;
    color: #fff;
  }
  
  body {
    background-color: #fffbf7; 
  }
 
  form {
    text-align: center;
  }

  
  
  .images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
 
 